@import "tailwindcss";

body {
  background-color: var(--color-slate-100);
  color: var(--color-slate-900);
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}
